<h2>Accounts</h2>
<h5 *ngIf="!currentUser">please, login, to manage accounts</h5>
<ul *ngIf="accounts">
  <li *ngFor="let account of accounts">
    <div>
      <div class="detail">
        <p>{{account.name}}</p>
      </div>
      <div class="detail">
        <p>{{account.number}}</p>
      </div>
    </div>
    <div *ngIf="currentUser">
      <a routerLink="/edit-account/{{account.id}}">
        <fa name="edit" size="1x"></fa>
      </a>
    </div>
    <div *ngIf="currentUser">
      <a (click)="delete(account)">
        <fa name="trash" size="1x"></fa>
      </a>
    </div>
  </li>
</ul>